extends layout

block content
  .header
    p Welcome to #{title}
    .main
  hr
  table.table(style='width:80%')
    tr
      th name
      th age
      th breed
      th sex
    tr
    if data
    -for (pup of data){
    tr
      td #{pup.name}
      td #{pup.age}
      td #{pup.breed}
      td #{pup.sex}
    tr
      -}
